nav {
  color: #fff;
  background-image: none;
  transition: none 0s ease 0s;
  background-color: rgba(249, 250, 253, 0);
}

body {
  background-image: url(img/background.jpeg);
  background-position: right top;
  background-size: cover;
}

.voronoys-block {
    position: relative;
    display: table;
    width: 17em;
    height: 9em;
    margin-bottom: 10px;
    font-weight: 700;
    border-radius: 7px;
    cursor: pointer;
    overflow: hidden;
    transition: box-shadow .4s;
}

.voronoys-block span.name {
    position: absolute;
    right: 0;
    bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.2em;
    letter-spacing: 1px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    word-break: normal;
    color: #fff;
    transition: font-weight .4s;
}

.handsontable th {
    background-color: #000000;
    color: #fff;
}

.htContextMenu table tbody tr td {
  background: #000;
  color: #929292;
}

.htContextMenu table tbody tr td .htItemWrapper {
  color: #929292;
}

.handsontable tbody th.ht__highlight, .handsontable thead th.ht__highlight {
    background-color: #8eb0e7;
}

.avatar{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    margin: 7px 0 0 5px;
    float: left;
    background-size: cover;
    background-position: center center;
}

.ui.button:hover {
    background-color: #000;
    color: #fff;
}

.about {
  color: grey; 
  padding-left: 50px;
  text-align: justify; 
  padding-right: 50px;
}

.col .row {
    margin-left: .75rem;
    margin-right: .75rem;
}

.swal2-popup .swal2-title {
    font-size: 1.2em !important;
}

.swal2-popup #swal2-content {
    text-align: center !important;
    font-size: 0.5em !important;
}

.swal2-popup .swal2-styled.swal2-confirm {
    font-size: 0.8em !important;
}